.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: auto;
    right: 0;
    top: 60px;
    z-index: 999;
    padding: 0.25em;
    /* padding-left: 1em; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
    min-width: 125px;
    list-style: none;
    background-color: orange;
    border: 2px solid orange;
}

.hiddenDropdown {
    display: none;
}

.dropdown .dropdown-submenu {
    position: absolute;
    /* left: 100%;
    top: -7px; */
    /* top:100px; */
   
    
}

.dropdownMenuItem {
    color: white;
    margin: 0.5em 0em;
    text-align: center;
    font-size: 0.9em;

}

.dropdownItemText:hover {
    color: darkblue;
}

@media screen and (max-width: 850px) {
    .dropdown {
        border: 2px solid white;
        width:500px;
    }

   

    .dropdownItemText {
        font-size: 1.2rem;
    }
}